.headerLogado {
  display: flex;
  
  align-items: center;
  justify-content: space-between;  
  padding: 10px 20px;
  height: 60px; /* Altura fixa */
  width: 100%; /* Ocupa toda a largura */  
  z-index: 100;
  position: relative; /* Para evitar sobreposição */
}

.header-perfil {
    margin-right: 140px;
}

.headerLogo {
  font-size: 20px;
  font-weight: bold;
}

#perfilButton{
  background-color: white;
}
