.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Cor de fundo padrão */
    border: 2px solid #ddd; /* Borda da imagem */
    font-size: 24px;
    color: #888;
    
  }
  
  .profile-picture img {
    object-fit: cover; /* Garante que a imagem se ajuste ao círculo */
  }
  
  .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #ccc;
  }

  @media (min-width:320px) and (max-width: 767px){

    .profile-picture{
      margin-right: 10%;
    }

    
  }
  