/* TitleAndText.css */
.title-and-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 22px;
    text-align: justify;
  }  

  @media (min-width:320px) and (max-width: 767px) {
   .title-and-text {
    text-align: justify;
   }
  }