/* .google-button {
    display: flex;
    align-items: center;
    background-color: #FFFFFF; /* Cor do Google 
    color: black;
    border: 1px solid #747775;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    gap: 10px; /* Espaçamento entre o ícone e o texto 
  }
  
  .google-button:hover {
    background-color: #357AE8; /* Cor mais escura quando o mouse passar 
  }
  
  .google-button span {
    font-weight: bold;
  } */
  

  .google-button {
    display: flex;
    align-items: center;  /* Alinha verticalmente */
    justify-content: center;  /* Alinha horizontalmente */
    background-color: #FFFFFF; /* Cor do Google */
    color: black;
    border: 1px solid #747775;
    border-radius: 8px;
     /* padding: 10px 24px; Ajuste o padding para manter uma boa proporção */
    font-size: 16px;
    cursor: pointer;
    gap: 10px; /* Espaçamento entre o ícone e o texto */
    width: 347px;  /* Largura do botão */
    height: 47px;   /*Ajuste a altura do botão para centralizar os itens */
  }
  
  .google-button:hover {
    background-color: #FFFFFF; /* Cor mais escura quando o mouse passar */
  }
  
  .google-button span {
    font-weight: bold;
  }

  .google-button img {
    width: 24px; /* Ajuste para o tamanho desejado */
    height: auto; /* Mantém a proporção */
    max-height: 100%; /* Garante que não ultrapassa a altura do botão */
}