.container-posts {
	text-align: center;
	padding: 20px;
	width: 50%;
	margin: 5% auto;
	border-radius: 8px;
	position: relative;
  }
  
  .main-content-title {
	text-align: left;
	font-size: 1.25em;
  }
  
  .total-number-posts {
	font-size: 1em;
	text-align: left;
  }
  
  .post-button-container {
	display: flex;
	margin: 5% 0 5% 0;
  }
  
  .lista {
	background-color: #fff;
	padding: 0;
  }
  
  .item {
	background-color: #fff;
	padding: 20px 0;
	margin-bottom: 10px;
	border-radius: 5px;
	list-style-type: none;
	display: flex;
  }
  
  .post-info {
	height: 11vh;
	text-align: justify;
	padding-right: 5px;
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
  }
  
  .icon-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 8px;
  }
  
  .icon {
	height: 25px;
  }
  
  .post-titulo {
	color: rgba(0, 58, 119, 1);
	font-size: 14px;
	font-family: Poppins;
	font-weight: 500;
	text-align: justify;
  }
  
  .post-conteudo {
	font-size: 13px;
	font-family: Poppins;
	font-weight: 300;
	text-align: justify;
	height: max-content;
	padding: 10px 0;
	min-height: 90px;
  }
  
  .post-complement {
	display: flex;
	justify-content: space-between;
  }
  
  .post-type-container {
	width: 115px;
	background-color: rgba(253, 139, 104, 1);
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
  }
  
  .post-type {
	color: #ffffff;
	font-family: Poppins;
	display: none;
  }
  
  .erro {
	color: red;
  }
  
  .respostas {
	margin-top: 15px;
	text-align: left;
  }
  
  .resposta-item {
	background-color: #f1f1f1;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	word-wrap: break-word;
	word-break: break-word;
	list-style-type: none;
  }
  
  .responder-button {
	padding: 10px 15px;
	background-color: #ddd;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
  }
  
  
  .formulario {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .textarea {
	width: 90%;
	min-height: 100px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	resize: none;
  }
  
  .botoes {
	display: flex;
	gap: 10px;
  }
  
  .enviar-button {
	padding: 10px 15px;
	background-color: #ddd;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .cancelar-button {
	padding: 10px 15px;
	background-color: #ddd;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .acoes {
	margin-top: 5px;
	display: flex;
	gap: 10px;
  }


@media (min-width:320px) and (max-width: 767px){
	.container-posts{
		margin-top: 10%;
		height: 100%;
		width: 100%;
	}

	.main-content-title{
		font-size: 1.2rem;
		white-space: nowrap;
	}
	
	.post-button-container{
		margin: 2% 0 2% 0;
		justify-content: center;
	}

	.total-number-posts{
		font-size: 0.9rem;
		white-space: nowrap;
	}

	.post-titulo{
		font-size: 1rem;
	}

	.post-info{
		font-size: 12px;
		align-items: flex-start;
	}

	.icon-container{
		gap: 8px;
	}

	.post-conteudo{
		font-size: 0.9rem;
  		line-height: 1;
  		margin: 0;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	button.responder-button{
		height: 40px;
		width: 140px;
		font-size: 0.85rem;
	}

}